[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
