[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/textobjectify"]
	path = bundle/textobjectify
	url = https://github.com/paradigm/TextObjectify.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/godef"]
	path = bundle/godef
	url = https://github.com/dgryski/vim-godef
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/ps1"]
	path = bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/seoul256"]
	path = bundle/seoul256
	url = https://github.com/junegunn/seoul256.vim
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
